<!-- Hanna Nicolas
    Full portfolio
    Start Date: April, 27th 2023 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="/public/images/img1.jpg" />
    <link rel="stylesheet" href="/public/styles/first.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Hanna Nicolas - Personal</title>
  </head>
  <body>
    <div class="wrapper">
      <section id="confirmation" class="confirmation">
        <p>MESSAGE SENT</p>
      </section>

      <!-- TOP BAR SECTION THAT ONLY DISPLAYS WHEN THE WINDOW IS SMALLER THEN THE USUAL -->
      <section class="topbar_section">
        <div class="topbar">
          <nav class="top_nav_bar">
            <nav class="up_nav_bar">
              <ol>
                <li class="top_home_nav">
                  <a id="home_nav" href="#main"
                    ><i class="fa-solid fa-house"></i> Home</a
                  >
                </li>
                <li class="top_about_nav">
                  <a href="#about"><i class="fa-solid fa-user"></i> About</a>
                </li>
                <li class="top_resume_nav">
                  <a href="#resume_education"
                    ><i class="fa-solid fa-file"></i> ResuEdu</a
                  >
                </li>
              </ol>
            </nav>
            <nav class="down_nav_bar">
              <ol>
                <li class="top_contact_nav">
                  <a href="#contact"
                    ><i class="fa-solid fa-envelope"></i> Contact</a
                  >
                </li>
                <li class="top_portfolio_nav">
                  <a href="#portfolio"
                    ><i class="fa-solid fa-book-open"></i> Portfolio</a
                  >
                </li>
              </ol>
            </nav>
          </nav>
        </div>
      </section>

      <!-- SIDE BAR SECTION THAT CONTAINS, THE PROFILE PICTURE, THE SOCIAL MEDIA, THE MAIN NAV BAR AND THE COPYRIGHT -->
      <section class="sidebar_section">
        <div class="side">
          <div class="profile_pic">
            <img class="pic" src="/public/images/img5.jpg" alt="" />
            <h3 class="name">Hanna Nicolas</h3>
          </div>

          <div class="social_media">
            <a class="facebook" href="https://www.facebook.com/hanna.nicolas.9">
              <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff"></i
            ></a>
            <a class="twitter" href=""
              ><i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff"></i
            ></a>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/hanna-nicolas-88466023a/"
              ><i
                class="fa-brands fa-linkedin fa-2xl"
                style="color: #ffffff"
              ></i
            ></a>
            <a class="instagram" href="https://www.instagram.com/hannaknm/"
              ><i
                class="fa-brands fa-square-instagram fa-2xl"
                style="color: #ffffff"
              ></i
            ></a>
          </div>

          <div class="nav">
            <nav class="nav_bar">
              <ol>
                <li class="home_nav">
                  <a id="home_a" href="#main"
                    ><i class="fa-solid fa-house"></i> Home</a
                  >
                </li>
                <li class="about_nav">
                  <a id="about_a" href="#about"
                    ><i class="fa-solid fa-user"></i> About</a
                  >
                </li>
                <li class="resume_nav">
                  <a id="resume_a" href="#resume_education"
                    ><i class="fa-solid fa-file"></i> ResuEdu</a
                  >
                </li>
                <li class="portfolio_nav">
                  <a id="portfolio_a" href="#portfolio"
                    ><i class="fa-solid fa-book-open"></i> Portfolio</a
                  >
                </li>
                <li class="contact_nav">
                  <a id="contact_a" href="#contact"
                    ><i class="fa-solid fa-envelope"></i> Contact</a
                  >
                </li>
              </ol>
            </nav>
          </div>

          <div class="copy">
            <p>&copy; Copyright Hanna Nicolas</p>
            <p>Designed by Hanna Nicolas</p>
          </div>
        </div>
      </section>

      <!-- <section id="controls_main"></section> -->
      <!-- MAIN SECTION WHICH JUST CONTAINS THE MASSIVE PHOTO AND TWO "TITLES" -->
      <section id="main" class="main_section">
        <div class="main">
          <label class="switch">
            <input id="btn" onclick="darkMode()" type="checkbox" />
            <span class="slider round"></span>
          </label>
          <h1>I REALLY DONT KNOW WHAT TO PUT HERE</h1>
          <p>I'm starting</p>
        </div>
      </section>

      <!-- <section id="controls_about"></section> -->
      <!-- ABOUT SECTION WHICH CONTAINS A BRIFE INTRODUCTION OF WHO I AM, THE CAREER IM STUDYING, SOME MORE OF MY INFORMATION AND A FUN FACT -->
      <section id="about" class="about_section about_color">
        <div class="about_title">
          <h1>About</h1>
          <hr class="titles_hr" />
        </div>
        <div class="about_information">
          <p>
            Confident young professional with a passion for learning and
            development. More than six years in the sales industry. I am
            committed to continuous improvement and driving team success. I have
            managed teams of up to 6 people. I care about improving my
            community, so I always seek to take the initiative in different
            fields, such as charity and supporting my closest colleagues'
            personal and professional growth
          </p>
        </div>
        <div class="about_information_expanded">
          <img class="information_img" src="/public/images/img1.jpg" alt="" />
          <div class="title_p">
            <h1 class="title_about_information">
              Computer Programmer & Web Developer
            </h1>
            <p class="about_p">
              I started to study computer programming at Conestoga College in
              September of 2022. So far I am in the 3/4 semester, 2 down and 2
              more to go. I'm not going to lie when I say that some times I was
              really worried about if I was going to make it to the next
              semester but thankfully, we have been able to keep moving forward.
            </p>
            <div class="about_list">
              <ol>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="birthday">Birthday: </span> December 27 2002
                </li>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="website">Website: </span> www.hnicolas.dev
                </li>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="phone">Phone: </span> +1-519-403-9508
                </li>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="city">City: </span> Waterloo, Canada
                </li>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="age">Age: </span> 20
                </li>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="degree">Degree: </span> Diploma
                </li>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="email">Email: </span> hannnanicolasca@gmail.com
                </li>
                <li>
                  <i class="fa-light fa-greater-than fa-2xl"></i>
                  <span class="freelance">Freelance: </span> Available
                </li>
              </ol>
            </div>
            <p class="about_pp">
              <span class="fact"> Fun fact:</span> Out of all the years I lived
              in Venezuela (my home country), I only worked for less than 7
              years, which it may sound insignificant but in reality, that is
              1/3 of my age.
            </p>
          </div>
        </div>
      </section>

      <!-- SKILLS SECTION THAT FOCUS MOSTLY IN MY HARD SKILLS I'VE LEARNED IN COLLEGE, SHOULD INCLUDE SOME SOFT SKILLS -->
      <section id="skills" class="skills_section skills_color">
        <div class="skills_title">
          <h1>Skills</h1>
          <hr class="titles_hr" />
        </div>
        <div class="skills_information">
          <p class="skills_p">
            I think of myself like a person who has plenty of skills, both soft
            skills and hard skills. Years of working has gave me a lot of
            experience and as a consequence of this, I've been able to learn and
            earn multiple sets of skills.
          </p>
          <div class="skills_list">
            <ol>
              <li>
                <i class="fa-light fa-greater-than fa-2xl"></i>
                <span class="html">HTML: 100% </span> <br />
                <hr class="html_hr" />
              </li>
              <li>
                <i class="fa-light fa-greater-than fa-2xl"></i>
                <span class="node">NodeJS: 55% </span> <br />
                <hr class="node_hr" />
              </li>
              <li>
                <i class="fa-light fa-greater-than fa-2xl"></i>
                <span class="js">JavaScript: 75% </span> <br />
                <hr class="js_hr" />
              </li>
              <li>
                <i class="fa-light fa-greater-than fa-2xl"></i>
                <span class="css">CSS: 85% </span> <br />
                <hr class="css_hr" />
              </li>
              <li>
                <i class="fa-light fa-greater-than fa-2xl"></i>
                <span class="express">Express: 55%</span> <br />
                <hr class="express_hr" />
              </li>
              <li>
                <i class="fa-light fa-greater-than fa-2xl"></i>
                <span class="c">C#: UNDEFINED</span> <br />
                <hr class="c_hr" />
              </li>
            </ol>
          </div>
        </div>
      </section>

      <!-- <section id="controls_resume"></section> -->
      <!-- RESUME AND EDUCATION SECTION THAT CONTAINS LIKE THE TITLE SAYS MY EDUCATIN FROM BEGINNING TILL TODAY AND MY PROFESSIONAL EXPERIENCE IN ALL OF MY YEARS -->
      <section
        id="resume_education"
        class="resume_education_section resume_education_color"
      >
        <div class="resume_education_title">
          <h1>Resume and Education</h1>
          <hr class="titles_hr" />
        </div>
        <div class="resume_education_information">
          <p class="resume_education_p">
            Confident young professional with a passion for learning and
            development. More than six years in the sales industry. I am
            committed to continuous improvement and driving team success. I have
            managed teams of up to 6 people. I care about improving my
            community, so I always seek to take the initiative in different
            fields, such as charity and supporting my closest colleagues'
            personal and professional growth.
          </p>
          <div class="resume_education_experience">
            <div class="education">
              <h1 class="education_title">Education</h1>
              <div class="education_experience">
                <h2>High School Diploma, UEP "Simon Bolivar"</h2>
                <p class="years">2014-2019</p>
                <p class="location">Carupano, Venezuela</p>
                <p>Graduated in the best in my class</p>

                <h2>System Engineering Diploma, Universidad Santa Maria</h2>
                <p class="years">2019-2021</p>
                <p class="location">Puerto La Cruz, Venezuela</p>
                <h2>Computer programming, Conestoga College</h2>
                <p class="years">2022-2024</p>
                <p class="location">Waterloo, Canada</p>
                <p class="education_p">
                  I am currently studying computer programming. I have some
                  basic knowledge in C#, HTML, JavaScript, and some SQL.
                  Learning some react on my own
                </p>
              </div>
            </div>
            <div class="resume">
              <h1 class="resume_title">Professional Experience</h1>
              <div class="resume_experience">
                <h2>Cashier, New Shop</h2>
                <p class="years">2015-2017</p>
                <ul>
                  <li>
                    Handled large amount of money and multiple transactions.
                  </li>
                  <li>Was able to work under pressure.</li>
                </ul>

                <h2>Salesman, New Shop</h2>
                <p class="years">2017-2018</p>
                <ul>
                  <li>
                    Helped customers to get the right fit and supply them with
                    what they wanted.
                  </li>
                  <li>Salesman of the year</li>
                </ul>

                <h2>Manager, New Shop</h2>
                <p class="years">2019-2021</p>
                <ul>
                  <li>Managed a team of 6 people</li>
                  <li>
                    Same responsabilities + new responsabilites such as checking
                    inventory, buying new products, train new staff.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section id="controls_portfolio"></section> -->
      <!-- PORTFOLIO SECTION THAT FOR NOW HAS EXAMPLES ONLY, HAVEN'T WORKED IN ANY GOOD PROJECT I CAN PUT HERE -->
      <section id="portfolio" class="portfolio_section portfolio_color">
        <div class="portfolio_title">
          <h1>Portfolio</h1>
          <hr class="titles_hr" />
        </div>
        <img
          src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        />
        <img
          src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        /><img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
          alt=""
        />
      </section>

      <!-- <section id="controls_contact"></section> -->
      <!-- CONTACT SECTION WHICH CONTAINS ALL OF THE INFORMATION IN WHICH YOU WILL BE ABLE TO CONTACT ME, AND ALSO A CONTACT FORM -->
      <section id="contact" class="contact_section contact_color">
        <div class="contact_title">
          <h1>Contact</h1>
          <hr class="titles_hr" />
        </div>
        <div class="contact_information">
          <p class="contact_p">
            You may be able to contact me throught my phone number or my email
            address. Depending on the day, I might respond faster but usually
            between 24-48 hours.
          </p>
          <div class="left_right">
            <div class="left_contact">
              <h2 class="contact_location_title">Location:</h2>
              <p class="contact_location_address">
                518 Edenbrook Pl, Waterloo, N2L4N5
              </p>
              <h2 class="contact_email_title">Email:</h2>
              <p class="contact_email_address">hannanicolasca@gmail.com</p>
              <h2 class="contact_phone_title">Phone:</h2>
              <p class="contact_phone_number">+1-519-403-9508</p>
              <iframe
                class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92638.7072196437!2d-80.62912061453143!3d43.48231347569635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf1565ffe672b%3A0x5037b28c7231d90!2sWaterloo%2C%20ON!5e0!3m2!1sen!2sca!4v1683083208948!5m2!1sen!2sca"
                width="320"
                height="250"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="right_contact">
              <form action="/" method="post">
                <label for="name" class="name_label">Your Name:</label>
                <input type="text" id="name" class="name_input" name="name" />
                <label for="email" class="email_label">Your Email:</label>
                <input
                  type="text"
                  id="email"
                  class="email_input"
                  name="email"
                />
                <label for="subject" class="subject_label">Subject:</label>
                <input
                  type="text"
                  id="subject"
                  class="subject_input"
                  name="subject"
                />
                <label for="message" class="message_label">Message:</label>
                <textarea
                  id="message"
                  class="message_input"
                  name="message"
                ></textarea>
                <div class="button">
                  <button
                    name="button"
                    id="button"
                    class="button"
                    onclick="contactInformationPass()"
                  >
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- THIS IS TO DISPLAY THE ERRORS IF SOMETHING IN THE FORM IS MISSING OR WRITTEN IN A BAD WAY, THIS WILL ONLY APPEAR IF CERTAIN CONDITIONS ARE MEET -->
      <div id="error" class="error error_color">
        <% if (typeof errors !=='undefined') { for(var error of errors){ %>
        <h3><%= error.msg %></h3>
        <% } } %>
      </div>

      <!-- PERSONAL SECTION THAT I STILL DON'T KNOW IF I'M GOING TO KEEP OR NO, PROBABLY NOT BUT FOR NOW IS MAKING BULK -->
      <!-- <section id="personal" class="personal_section">
        NO TENGO UNA VERGA QUE PONER AQUI LPTM QUE ARRECHERA NO TENER NINGUN
        PROJECTO BUENO QUE PUEDA PONER AQUI PARA AL MENOS HACER VOLUMEN Y DECIR
        QUE HE HECHO ALGO POR MI VIDA APARTE DE VENIR A CANADA, LITERALMENTE NO
        HE HECHO NADA POR MI MISMO NUNCA Y ESA VAINA ME ESTRESA Y ME HACE SENIR
        MAL POR MUCHAS PUTA RAZONES, TIPO NO HAZ HECHO NADA EN 20 ANOS MMGV SEA
        ERES UN BUENO PARA NADA IMBECIL DE MIERDA NO SIRVES NI PARA JUGAR
        FUTBOL. BUENO SIN MENTIR SI SIRVO PARA JUGAR AL FUTBOL, LA VERDAD ES QUE
        CREO QUE PODRIA ALGUN DIA JUGAR EN UN EQUIPO PRO O SEMI-PRO. LA VIDA DA
        MUCHAS VUELTAS, EN OCTUBRE DEL 2021 ESTABA EN CARUPANO-VENEZUELA Y EL
        MUNDO SE ME ESTBA CAYENDO A PEDAZOS POCO A POCO Y EN FEBRERO DEL 2022
        ESTABA VIVIENDO EN CANADA, UN PAR DE MESES DESPUES ESTABA RECIBIENDO MI
        CERTIFICADO EN INGLES, OTRO PAR DE MESES DESPUES ESTABA SIENDO ACEPTADO
        PARA ESTUDIAR COMPUTER PROGRAMMING, EN SEPTIEMBRE DE ESE MISMO ANO
        ESTABA EMPEZANDO A ESTUDIAR LA UNICA COSA QUE ALGUNA VEZ ME LLAMO LA
        ATENCION HABLANDO DE CARREAS Y ESTUDIAR. 8 MESES DESPUES DE ESE COMIENZO
        A UN NUEVO CAPITULO DE MI VIDA, YA ESTOY EN MI 3/4 SEMESTRE, PUEDO DECIR
        QUE TENGO A LA MUJER DE MI VIDA EN MI VIDA PRESENTE, ESTOY MAS O MENOS
        BIEN CON MIS PADRES, EN EL FUTBOL ME VA BASTANTE BIEN, PODRIA DECIR QUE
        ESTOY JUGANDO IGUAL DE BIEN O MEJOR QUE CUANDO ESTABA EN MI PRIME (CON
        16), YA AHORA CADA VEZ QUE DESPIERTO NO ES UN "PARA QUE ESTOY
        DESPERTANDO" SINO QUE ES UN "UN DIA MAS Y ESTOY AGRADECIDO POR ESO Y
        TODAS LAS COSAS QUE ESTAN EN MI VIDA", DE VERDAD NO PUEDO QUEJARME DE
        NINGUNA COSA EN MI VIDA, DE LO UNICO QUE PODRIA QUEJARME Y NI SIQUIERA
        ES CULPA MIA ES NO TENER TRABAJO. INCREIBLEMENTE HE APLICADO A MAS DE 35
        TRABAJOS DIFERENTES Y NINGUNO ME HA DADO RESPUESTA, NI NEGATIVA NI
        POSITIVA QUE ES LO PEOR DE TODO. SINCERAMENTE SI QUISIERA TRABAJAR,
        PODER TENER MI PROPIO DINERO QUE PODRIA DARME EL LUJO DE GASTAR EN MI Y
        MI MUJER SIN NECESIDAD DE REMORDIMIENTO AL PENSAR EN MI PAPA, CREEME QUE
        QUISIERA IR DE SHOPPING Y GASTAR Y GASTAR, QUISIERA SALIR A COMER TODOS
        LOS DIAS CON MI MUJER Y COMPRARLE TODO LO QUE NECESITE Y LO QUE NO
        NECESITE TAMBIEN PERO NO, QUISIERA ALQUILAR UN APARTAMENTO PARA MI SOLO
        Y PODER CAMINAR DESNUDO (AUNQUE NO ES DE LAS COSAS QUE MAS ASPIRO PERO
        ME GUSTARIA TENER ESA OPCION), QUISIERA PODER INVITAR A MI MUJER Y HACER
        LO QUE SEA DONDE SEA SIN QUE A NADIE LE IMPORTE NADA, PODER HACER TODO
        EL RUIDO QUE QUIERA SIN INCOMODAR A NADIE NI QUE NADIE ME DIGA NADA DE
        NADA. QUISIERA TENER MIS PROPIAS COSAS PORQUE YO CONSIDERO QUE TODO LO
        QUE TENGO AHORA SON COSAS DE MI PADRE. ES TRISTE QUE TENGO CASI 21 Y
        TODAS LAS COSAS QUE POSEO JAMAS LAS HE COMPRADO CON MI PROPIO DINERO. ES
        TRISTE QUE CON 21 TODAVIA DEPENDO DE ALGUIEN AL 100%. ES TRISTE. ES
        TRISTE NO PODER VER MAS ALLA DE CUANDO TE GRADUES, NO SABER QUE HARAS Y
        SI HARAS ALGO QUE TENGA QUE VER CON EL TITULO QUE TENDRAS, ES TRISTE NO
        VERTE TRABAJANDO DE ESTO QUE ESTAS ESTUDIANDO. ES TRISTE.
      </section> -->

      <script src="/public/scripts/first.js"></script>
    </div>
  </body>
</html>
